<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tower_die_5.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{0,0},{216,216}}</string>
        <key>sourceColorRect</key>
        <string>{{42,42},{216,216}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_die_5.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{0,0},{216,216}}</string>
        <key>sourceColorRect</key>
        <string>{{42,42},{216,216}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_die_8.png</key>
      <dict>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{220,0},{215,216}}</string>
        <key>sourceColorRect</key>
        <string>{{43,42},{215,216}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_die_7.png</key>
      <dict>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{440,0},{215,216}}</string>
        <key>sourceColorRect</key>
        <string>{{43,42},{215,216}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_die_6.png</key>
      <dict>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{660,0},{215,216}}</string>
        <key>sourceColorRect</key>
        <string>{{43,42},{215,216}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_die_7.png</key>
      <dict>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{440,0},{215,216}}</string>
        <key>sourceColorRect</key>
        <string>{{43,42},{215,216}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_die_8.png</key>
      <dict>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{220,0},{215,216}}</string>
        <key>sourceColorRect</key>
        <string>{{43,42},{215,216}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_die_6.png</key>
      <dict>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{660,0},{215,216}}</string>
        <key>sourceColorRect</key>
        <string>{{43,42},{215,216}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_die_3.png</key>
      <dict>
        <key>offset</key>
        <string>{1,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{880,0},{144,144}}</string>
        <key>sourceColorRect</key>
        <string>{{79,78},{144,144}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_die_3.png</key>
      <dict>
        <key>offset</key>
        <string>{1,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{880,0},{144,144}}</string>
        <key>sourceColorRect</key>
        <string>{{79,78},{144,144}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_idle_0.png</key>
      <dict>
        <key>offset</key>
        <string>{0,32.5}</string>
        <key>sourceSize</key>
        <string>{159,215}</string>
        <key>frame</key>
        <string>{{880,148},{135,146}}</string>
        <key>sourceColorRect</key>
        <string>{{12,2},{135,146}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_attack_0.png</key>
      <dict>
        <key>offset</key>
        <string>{0,32.5}</string>
        <key>sourceSize</key>
        <string>{159,215}</string>
        <key>frame</key>
        <string>{{880,148},{135,146}}</string>
        <key>sourceColorRect</key>
        <string>{{12,2},{135,146}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_die_9.png</key>
      <dict>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{0,220},{215,214}}</string>
        <key>sourceColorRect</key>
        <string>{{43,43},{215,214}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_die_9.png</key>
      <dict>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{0,220},{215,214}}</string>
        <key>sourceColorRect</key>
        <string>{{43,43},{215,214}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_die_4.png</key>
      <dict>
        <key>offset</key>
        <string>{1,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{220,220},{184,184}}</string>
        <key>sourceColorRect</key>
        <string>{{59,58},{184,184}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_die_4.png</key>
      <dict>
        <key>offset</key>
        <string>{1,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{220,220},{184,184}}</string>
        <key>sourceColorRect</key>
        <string>{{59,58},{184,184}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_attack_0.png</key>
      <dict>
        <key>offset</key>
        <string>{0,34.5}</string>
        <key>sourceSize</key>
        <string>{203,260}</string>
        <key>frame</key>
        <string>{{408,220},{173,185}}</string>
        <key>sourceColorRect</key>
        <string>{{15,3},{173,185}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_idle_0.png</key>
      <dict>
        <key>offset</key>
        <string>{0,34.5}</string>
        <key>sourceSize</key>
        <string>{203,260}</string>
        <key>frame</key>
        <string>{{408,220},{173,185}}</string>
        <key>sourceColorRect</key>
        <string>{{15,3},{173,185}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_die_2.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{586,220},{104,110}}</string>
        <key>sourceColorRect</key>
        <string>{{98,95},{104,110}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_die_2.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{586,220},{104,110}}</string>
        <key>sourceColorRect</key>
        <string>{{98,95},{104,110}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_die_1.png</key>
      <dict>
        <key>offset</key>
        <string>{-1.5,1}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{694,220},{93,94}}</string>
        <key>sourceColorRect</key>
        <string>{{102,102},{93,94}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_die_1.png</key>
      <dict>
        <key>offset</key>
        <string>{-1.5,1}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{694,220},{93,94}}</string>
        <key>sourceColorRect</key>
        <string>{{102,102},{93,94}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_die_11.png</key>
      <dict>
        <key>offset</key>
        <string>{-1.5,-22}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{792,220},{71,114}}</string>
        <key>sourceColorRect</key>
        <string>{{113,115},{71,114}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_die_11.png</key>
      <dict>
        <key>offset</key>
        <string>{-1.5,-22}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{792,220},{71,114}}</string>
        <key>sourceColorRect</key>
        <string>{{113,115},{71,114}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_die_0.png</key>
      <dict>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{868,298},{82,83}}</string>
        <key>sourceColorRect</key>
        <string>{{108,108},{82,83}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_die_0.png</key>
      <dict>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{868,298},{82,83}}</string>
        <key>sourceColorRect</key>
        <string>{{108,108},{82,83}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_die_13.png</key>
      <dict>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{954,298},{70,58}}</string>
        <key>sourceColorRect</key>
        <string>{{113,121},{70,58}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_die_10.png</key>
      <dict>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{694,318},{71,72}}</string>
        <key>sourceColorRect</key>
        <string>{{113,115},{71,72}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_die_10.png</key>
      <dict>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{694,318},{71,72}}</string>
        <key>sourceColorRect</key>
        <string>{{113,115},{71,72}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_die_13.png</key>
      <dict>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{954,298},{70,58}}</string>
        <key>sourceColorRect</key>
        <string>{{113,121},{70,58}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_die_12.png</key>
      <dict>
        <key>offset</key>
        <string>{-1.5,-4}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{586,334},{71,64}}</string>
        <key>sourceColorRect</key>
        <string>{{113,122},{71,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_die_12.png</key>
      <dict>
        <key>offset</key>
        <string>{-1.5,-4}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{586,334},{71,64}}</string>
        <key>sourceColorRect</key>
        <string>{{113,122},{71,64}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_die_14.png</key>
      <dict>
        <key>offset</key>
        <string>{-2.5,-4}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{770,338},{69,52}}</string>
        <key>sourceColorRect</key>
        <string>{{113,128},{69,52}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hq_die_14.png</key>
      <dict>
        <key>offset</key>
        <string>{-2.5,-4}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
        <key>frame</key>
        <string>{{770,338},{69,52}}</string>
        <key>sourceColorRect</key>
        <string>{{113,128},{69,52}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>size</key>
      <string>{1024,434}</string>
      <key>realTextureFileName</key>
      <string>buildings_0.png</string>
      <key>textureFileName</key>
      <string>buildings_0.png</string>
      <key>hashes</key>
      <dict>
        <key>tower_die_5.png</key>
        <string>9bfdc18f53a38b1dc21e4ca8c338391e</string>
        <key>hq_die_5.png</key>
        <string>9bfdc18f53a38b1dc21e4ca8c338391e</string>
        <key>hq_die_8.png</key>
        <string>534d90f94de72e596a9f518358e69cad</string>
        <key>tower_die_7.png</key>
        <string>cfa838bd081f45d38341148718754f23</string>
        <key>tower_die_6.png</key>
        <string>1ea378f7f438f821fd85ca0b3df55ce8</string>
        <key>hq_die_7.png</key>
        <string>cfa838bd081f45d38341148718754f23</string>
        <key>tower_die_8.png</key>
        <string>534d90f94de72e596a9f518358e69cad</string>
        <key>hq_die_6.png</key>
        <string>1ea378f7f438f821fd85ca0b3df55ce8</string>
        <key>tower_die_3.png</key>
        <string>58d87bfe431c4f71d07b7a4ba638f9db</string>
        <key>hq_die_3.png</key>
        <string>58d87bfe431c4f71d07b7a4ba638f9db</string>
        <key>tower_idle_0.png</key>
        <string>66e0b0b1a0b876a9017d5bb288d017bb</string>
        <key>tower_attack_0.png</key>
        <string>66e0b0b1a0b876a9017d5bb288d017bb</string>
        <key>hq_die_9.png</key>
        <string>8f559cae8e01f8f8bba930c4a1b29812</string>
        <key>tower_die_9.png</key>
        <string>8f559cae8e01f8f8bba930c4a1b29812</string>
        <key>hq_die_4.png</key>
        <string>fffad665af888b620867465d35295b52</string>
        <key>tower_die_4.png</key>
        <string>fffad665af888b620867465d35295b52</string>
        <key>hq_attack_0.png</key>
        <string>2b157c8c5c6414a26dea743dc43a2e9c</string>
        <key>hq_idle_0.png</key>
        <string>2b157c8c5c6414a26dea743dc43a2e9c</string>
        <key>tower_die_2.png</key>
        <string>53a5d38b3fabd260a4a86551242580f4</string>
        <key>hq_die_2.png</key>
        <string>53a5d38b3fabd260a4a86551242580f4</string>
        <key>hq_die_1.png</key>
        <string>106f34731211ab6eb3bd5da712848a4d</string>
        <key>tower_die_1.png</key>
        <string>106f34731211ab6eb3bd5da712848a4d</string>
        <key>hq_die_11.png</key>
        <string>a8a7cfe1a16ef274e5bc5a224c5fb0dd</string>
        <key>tower_die_11.png</key>
        <string>a8a7cfe1a16ef274e5bc5a224c5fb0dd</string>
        <key>hq_die_0.png</key>
        <string>437142ccb42c925ea78a0aa68fe95cb4</string>
        <key>tower_die_0.png</key>
        <string>437142ccb42c925ea78a0aa68fe95cb4</string>
        <key>hq_die_13.png</key>
        <string>027c6166d5d73917604005f85a1af311</string>
        <key>tower_die_10.png</key>
        <string>bd146b5effab04ac5613b782d99f7298</string>
        <key>hq_die_10.png</key>
        <string>bd146b5effab04ac5613b782d99f7298</string>
        <key>tower_die_13.png</key>
        <string>027c6166d5d73917604005f85a1af311</string>
        <key>hq_die_12.png</key>
        <string>c9e68ccd270a4945ef0350a6380da092</string>
        <key>tower_die_12.png</key>
        <string>c9e68ccd270a4945ef0350a6380da092</string>
        <key>tower_die_14.png</key>
        <string>7cadbbeacbdf80c7c18b74cefbb26b9a</string>
        <key>hq_die_14.png</key>
        <string>7cadbbeacbdf80c7c18b74cefbb26b9a</string>
      </dict>
    </dict>
  </dict>
</plist>