<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>logo.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{504,286}</string>
        <key>frame</key>
        <string>{{0,0},{504,286}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{504,286}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>size</key>
      <string>{504,286}</string>
      <key>realTextureFileName</key>
      <string>splash_0.png</string>
      <key>textureFileName</key>
      <string>splash_0.png</string>
      <key>hashes</key>
      <dict>
        <key>logo.png</key>
        <string>e3fd059153d53c1dd4d18872dfa5e659</string>
      </dict>
    </dict>
  </dict>
</plist>