<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ground.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{1080,1408}</string>
        <key>frame</key>
        <string>{{0,0},{1080,1408}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{1080,1408}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>icon_coin.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
        <key>frame</key>
        <string>{{1084,0},{482,482}}</string>
        <key>sourceColorRect</key>
        <string>{{15,15},{482,482}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>icon_time.png</key>
      <dict>
        <key>offset</key>
        <string>{-2.5,-0.5}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
        <key>frame</key>
        <string>{{1570,0},{409,499}}</string>
        <key>sourceColorRect</key>
        <string>{{43,1},{409,499}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>icon_energy_1.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{63,78}</string>
        <key>frame</key>
        <string>{{1984,0},{63,78}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,78}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>icon_energy_2.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{63,78}</string>
        <key>frame</key>
        <string>{{1984,82},{63,78}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,78}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>energy_bar_separator.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{2,25}</string>
        <key>frame</key>
        <string>{{1984,164},{2,25}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,25}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_exit.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{122,121}</string>
        <key>frame</key>
        <string>{{1084,486},{122,121}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,121}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_speed_x1.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{122,121}</string>
        <key>frame</key>
        <string>{{1210,486},{122,121}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,121}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>button_pause.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{122,121}</string>
        <key>frame</key>
        <string>{{1336,486},{122,121}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,121}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>empty_energy_bar.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{956,29}</string>
        <key>frame</key>
        <string>{{1084,612},{956,29}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{956,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>full_energy_bar_1.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{956,29}</string>
        <key>frame</key>
        <string>{{1084,646},{956,29}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{956,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>half_fill_energy_bar.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{956,29}</string>
        <key>frame</key>
        <string>{{1084,680},{956,29}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{956,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>full_energy_bar_2.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{956,29}</string>
        <key>frame</key>
        <string>{{1084,714},{956,29}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{956,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>action_bar_panel.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{1117,224}</string>
        <key>frame</key>
        <string>{{0,1412},{1117,224}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{1117,224}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>size</key>
      <string>{2047,1636}</string>
      <key>realTextureFileName</key>
      <string>battle_0.png</string>
      <key>textureFileName</key>
      <string>battle_0.png</string>
      <key>hashes</key>
      <dict>
        <key>ground.png</key>
        <string>f83700926908f693f4520468ab2b78e8</string>
        <key>icon_coin.png</key>
        <string>ad7504be61e5f32a5cfc8ea55b3c250f</string>
        <key>icon_time.png</key>
        <string>a9051e4a57c40a0149a2ffc8794ecbc1</string>
        <key>icon_energy_1.png</key>
        <string>533031ad6d9527bbb9996c6963eafeb6</string>
        <key>icon_energy_2.png</key>
        <string>65d96ccea9a726095891ba8dfec3d74a</string>
        <key>energy_bar_separator.png</key>
        <string>e1eb67c46c7ab359a0891d5182faff7b</string>
        <key>button_exit.png</key>
        <string>8165b7047fb738ea792c60f000435030</string>
        <key>button_speed_x1.png</key>
        <string>590ab378b103e232a7ab9267ecc07712</string>
        <key>button_pause.png</key>
        <string>68290386de33fd3d03ffdd2fb612bb6b</string>
        <key>empty_energy_bar.png</key>
        <string>61007c1d4c423dee2137e711d4faafea</string>
        <key>full_energy_bar_1.png</key>
        <string>769d39820e272c0df0ba63d9dd96d48e</string>
        <key>half_fill_energy_bar.png</key>
        <string>3d61cae6388264c69e0dd83b1efa47ea</string>
        <key>full_energy_bar_2.png</key>
        <string>4cd124617ea0e1307abdf9f1def0fc39</string>
        <key>action_bar_panel.png</key>
        <string>b3902bc21ca41898feb3ca58f8eaebc2</string>
      </dict>
    </dict>
  </dict>
</plist>