<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>effect_fire_idle_7.png</key>
      <dict>
        <key>offset</key>
        <string>{1,0}</string>
        <key>sourceSize</key>
        <string>{162,114}</string>
        <key>frame</key>
        <string>{{0,0},{152,100}}</string>
        <key>sourceColorRect</key>
        <string>{{6,7},{152,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_fire_idle_9.png</key>
      <dict>
        <key>offset</key>
        <string>{1,0}</string>
        <key>sourceSize</key>
        <string>{162,114}</string>
        <key>frame</key>
        <string>{{156,0},{152,100}}</string>
        <key>sourceColorRect</key>
        <string>{{6,7},{152,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_fire_idle_10.png</key>
      <dict>
        <key>offset</key>
        <string>{1,0}</string>
        <key>sourceSize</key>
        <string>{162,114}</string>
        <key>frame</key>
        <string>{{312,0},{152,100}}</string>
        <key>sourceColorRect</key>
        <string>{{6,7},{152,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_fire_idle_0.png</key>
      <dict>
        <key>offset</key>
        <string>{59.5,5}</string>
        <key>sourceSize</key>
        <string>{162,114}</string>
        <key>frame</key>
        <string>{{468,0},{23,24}}</string>
        <key>sourceColorRect</key>
        <string>{{129,40},{23,24}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_fire_idle_13.png</key>
      <dict>
        <key>offset</key>
        <string>{59.5,5}</string>
        <key>sourceSize</key>
        <string>{162,114}</string>
        <key>frame</key>
        <string>{{468,0},{23,24}}</string>
        <key>sourceColorRect</key>
        <string>{{129,40},{23,24}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_fire_idle_14.png</key>
      <dict>
        <key>offset</key>
        <string>{80.5,-56.5}</string>
        <key>sourceSize</key>
        <string>{162,114}</string>
        <key>frame</key>
        <string>{{496,0},{1,1}}</string>
        <key>sourceColorRect</key>
        <string>{{161,113},{1,1}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_fire_idle_8.png</key>
      <dict>
        <key>offset</key>
        <string>{1,0}</string>
        <key>sourceSize</key>
        <string>{162,114}</string>
        <key>frame</key>
        <string>{{0,104},{152,100}}</string>
        <key>sourceColorRect</key>
        <string>{{6,7},{152,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_fire_idle_6.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{162,114}</string>
        <key>frame</key>
        <string>{{156,104},{150,100}}</string>
        <key>sourceColorRect</key>
        <string>{{6,7},{150,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_fire_idle_5.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{162,114}</string>
        <key>frame</key>
        <string>{{310,104},{150,100}}</string>
        <key>sourceColorRect</key>
        <string>{{6,7},{150,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_bullet_idle_0.png</key>
      <dict>
        <key>offset</key>
        <string>{-3.5,0}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
        <key>frame</key>
        <string>{{464,104},{45,62}}</string>
        <key>sourceColorRect</key>
        <string>{{3,4},{45,62}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_fire_idle_4.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{162,114}</string>
        <key>frame</key>
        <string>{{0,208},{150,100}}</string>
        <key>sourceColorRect</key>
        <string>{{6,7},{150,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_fire_idle_3.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{162,114}</string>
        <key>frame</key>
        <string>{{154,208},{150,100}}</string>
        <key>sourceColorRect</key>
        <string>{{6,7},{150,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_fire_idle_2.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{162,114}</string>
        <key>frame</key>
        <string>{{308,208},{150,100}}</string>
        <key>sourceColorRect</key>
        <string>{{6,7},{150,100}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_bullet_idle_4.png</key>
      <dict>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
        <key>frame</key>
        <string>{{462,208},{50,62}}</string>
        <key>sourceColorRect</key>
        <string>{{3,4},{50,62}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_fire_idle_12.png</key>
      <dict>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>sourceSize</key>
        <string>{162,114}</string>
        <key>frame</key>
        <string>{{0,312},{151,99}}</string>
        <key>sourceColorRect</key>
        <string>{{6,8},{151,99}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_fire_idle_1.png</key>
      <dict>
        <key>offset</key>
        <string>{1.5,-2.5}</string>
        <key>sourceSize</key>
        <string>{162,114}</string>
        <key>frame</key>
        <string>{{156,312},{147,97}}</string>
        <key>sourceColorRect</key>
        <string>{{9,11},{147,97}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_fire_idle_11.png</key>
      <dict>
        <key>offset</key>
        <string>{22.5,4}</string>
        <key>sourceSize</key>
        <string>{162,114}</string>
        <key>frame</key>
        <string>{{308,312},{109,74}}</string>
        <key>sourceColorRect</key>
        <string>{{49,16},{109,74}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_bullet_idle_2.png</key>
      <dict>
        <key>offset</key>
        <string>{1.5,0}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
        <key>frame</key>
        <string>{{422,312},{55,62}}</string>
        <key>sourceColorRect</key>
        <string>{{3,4},{55,62}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_bullet_idle_3.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
        <key>frame</key>
        <string>{{422,378},{52,62}}</string>
        <key>sourceColorRect</key>
        <string>{{3,4},{52,62}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>effect_bullet_idle_1.png</key>
      <dict>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
        <key>frame</key>
        <string>{{308,390},{51,62}}</string>
        <key>sourceColorRect</key>
        <string>{{3,4},{51,62}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>hit1_idle_0.png</key>
      <dict>
        <key>offset</key>
        <string>{0,0}</string>
        <key>sourceSize</key>
        <string>{52,46}</string>
        <key>frame</key>
        <string>{{364,390},{52,46}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,46}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>size</key>
      <string>{512,452}</string>
      <key>realTextureFileName</key>
      <string>effects_0.png</string>
      <key>textureFileName</key>
      <string>effects_0.png</string>
      <key>hashes</key>
      <dict>
        <key>effect_fire_idle_7.png</key>
        <string>b1f6f6d1c76aed53f89159b808e87ad5</string>
        <key>effect_fire_idle_9.png</key>
        <string>2a15f4863ec045748a2bc7fb8980a14e</string>
        <key>effect_fire_idle_10.png</key>
        <string>2d0494d041a08a0148f81f4378f5099a</string>
        <key>effect_fire_idle_0.png</key>
        <string>3cce8c0fa578bf521fe162eb795cf481</string>
        <key>effect_fire_idle_13.png</key>
        <string>3cce8c0fa578bf521fe162eb795cf481</string>
        <key>effect_fire_idle_14.png</key>
        <string>f450dd618c07e7efaec668cef910b88a</string>
        <key>effect_fire_idle_8.png</key>
        <string>4906313a0fdb789ddccd7e434e45e6ed</string>
        <key>effect_fire_idle_6.png</key>
        <string>cdb1a18ae35190e639b491b41b60dfce</string>
        <key>effect_fire_idle_5.png</key>
        <string>f30e4ac371f0607385510ff7925ea1f0</string>
        <key>effect_bullet_idle_0.png</key>
        <string>c5881009d1c618f7b9dd9d1191f629fb</string>
        <key>effect_fire_idle_4.png</key>
        <string>a05f532aef50bd26ce8b89eacd998c4f</string>
        <key>effect_fire_idle_3.png</key>
        <string>42adc3c94ed9977dd4a65c4f88d18d6d</string>
        <key>effect_fire_idle_2.png</key>
        <string>0153b0e037dfdc40460025c6d4bd06ff</string>
        <key>effect_bullet_idle_4.png</key>
        <string>31f01af3a8aab98b42ca32376441b1f7</string>
        <key>effect_fire_idle_12.png</key>
        <string>f8e66364ab4b4aa313e9517fc9d9cfc1</string>
        <key>effect_fire_idle_1.png</key>
        <string>758c4fc22eb9d5ff33ba855c595a1a8e</string>
        <key>effect_fire_idle_11.png</key>
        <string>919b7f8c55e3b2d6d7e9b442b13ba83c</string>
        <key>effect_bullet_idle_2.png</key>
        <string>c952f53533879083b700d0131174c77a</string>
        <key>effect_bullet_idle_3.png</key>
        <string>dbedb1e6c5f8d8a0296fdc71b0f10f31</string>
        <key>effect_bullet_idle_1.png</key>
        <string>652af0f2c3b7c3183417d17d310fc4ad</string>
        <key>hit1_idle_0.png</key>
        <string>2f6613ddbb8e788057efbcaa3b595f5e</string>
      </dict>
    </dict>
  </dict>
</plist>